.button {
  padding: 0.5rem;
  background: lightgrey;
  border: 1px solid grey;
  font-size: 1rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.modal-dialog {
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -15rem;
  width: 30rem;
  background: white;
  border: 1px solid rgba(grey, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-dialog .footer {
  padding: 1rem;
  background: rgba(lightgrey, 0.2);
  border-top: 1px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-dialog .content {
  padding: 2rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  margin-block: 0.5rem;
}

.content {
  padding: 2rem 0.5rem;
  border: 1px solid red;
  border-radius: 0.2rem;
}
